<div class="widewrapper main">
  <div class="container">
    <div class="row">
      <div class="col-md-10 blog-main">
        <div class="row">
          <% @articles.each_slice(2) do |column2_article| %>
            <div class="col-md-6 col-sm-6">
              <% column2_article.each do |article| %>
                <article class=" blog-teaser">
                  <header>
                    <%= image_tag article.thumbnail.url, class: 'img-responsive' %>
                    <h3>
                      <%= link_to(article_path(article)) do %>
                        <%= article.title %>
                      <% end %>
                    </h3>
                    <hr/>
                  </header>
                  <div class="body">
                    <%= article.elements.first.element_data %>
                  </div>
                  <div class="clearfix">
                    <%= link_to '続きを読む', article_path(article), class: 'btn btn-tales-one' %>
                  </div>
                </article>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
