<div class="row">
  <div class="col-xs-6">
    <h2>
      <%= @item.name %>
    </h2>
  </div>
</div>
<div class="row">
  <%= form_for(@item, url: admin_item_path) do |f| %>
    <div class="col-xs-6">
      <% if @item.image.present? %>
        <%= image_tag @item.image.medium_thumb.url %>
      <% end %>
      <br/>
      <%= f.text_field :url, class: 'form-control'%>
      <%= f.label :tags, 'タグ' %>
      <% tag_value = @item.tags.map{|tag| tag[:name]} %>
      <%= f.text_field :tag_names, id: 'tags', value: tag_value.join(",")  %><br />
      <div class="actions">
        <%= link_to '戻る', admin_items_path, class: 'btn btn-default' %>
        <%= f.submit '更新する', class: 'btn btn-primary'%>
      </div>
    </div>
    <div class="col-xs-6">
      <table class="table">
        <tr>
          <th class="col-xs-3">このアイテムについて</th>
          <td><%= @item.description %></td>
        </tr>
        <tr>
          <th class="col-xs-3">金額</th>
          <td><%= number_to_currency(@item.original_price, locale: 'jp')%></td>
        </tr>
        <tr>
          <th class="col-xs-3">セール金額</th>
          <td><%= number_to_currency(@item.discount_price, locale: 'jp')%></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
