<section class="item__main" ng-controller='ArticleCtrl'>
  <script defer="defer" src="//platform.instagram.com/en_US/embeds.js"></script>
  <section class="wrapper">
    <div class="row">
      <div ng-show="articleCreated" class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        記事の作成が完了しました
      </div>
      <div ng-show="articleNotCreated" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        記事の作成に失敗しました
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 article__contents__menu">
        <%= render "page_save" %>
        <div>
          <ul class="nav nav-tabs">
            <li data-toggle="tab" ng-repeat="tab in tabs" ng-click='selectTab($index)' ng-class="{'active':selectedTab == $index}">
              <a data-toggle="tab" href="#">
                {{ tab.title }}
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <%= render "required_element" %>
          <%= render "input_text" %>
          <%= render "input_item" %>
          <%= render "input_instagram" %>
          <%= render "input_image" %>
          <%= render "input_place" %>
          <%= render "input_area" %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render partial: "contents_preview" %>
    </div>
  </section>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2sn3EMTaL4soZG0OI5LHP1N8ydD4SUSk"></script>
