<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Listing Articles</h1>
  <table class="table table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.body %></td>
          <td><%= link_to 'Show', article, class: "btn" %></td>
          <td><%= link_to 'Edit', edit_article_path(article), class: "btn" %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Article', new_article_path, class: "btn btn-info" %>
  <br><br>
  <!-- bootstrap javascript sample -->
  <div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown sample
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li>Menu A</li>
      <li>Menu B</li>
      <li>Menu C</li>
    </ul>
  </div>
</div>
