<div class="col-xs-10">
  <div class="form-group">
    <%= f.label :name, '名前' , class: 'control-label col-xs-2' %>
    <div class="col-xs-10">
      <%= f.text_field :name, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, 'URL' , class: 'control-label col-xs-2' %>
    <div class="col-xs-10">
      <%= f.text_field :url, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, 'イメージ' , class: 'control-label col-xs-2' %>
    <div class="col-xs-10">
      <%= f.file_field :image, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :original_image_url, '取得画像元のURL' , class: 'control-label col-xs-2' %>
    <div class="col-xs-10">
      <%= f.text_field :original_image_url, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ibu, '苦味度数（IBU）' , class: 'control-label col-xs-2' %>
    <div class="col-xs-10">
      <%= f.text_field :ibu, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, '説明' , class: 'control-label col-xs-2' %>
    <div class="col-xs-10">
      <%= f.text_area :description, class: 'form-control', size: "20x5" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tag_names, 'タグ' , class: 'control-label col-xs-2' %>
    <% tag_value = @item.tags.map{|tag| tag[:name]} %>
    <div class="col-xs-10">
      <%= f.text_field :tag_names, id: 'tags', value: tag_value.join(","), class: 'form-control'  %>
    </div>
  </div>
</div>

