<div class="tab-pane" id="tab1" ng-class="{'active':selectedTab == 0}">
  <section class="panel">
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :name, '名前' , class: 'control-label col-xs-2' %>
        <div class="col-xs-10">
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :url, 'URL' , class: 'control-label col-xs-2' %>
        <div class="col-xs-10">
          <%= f.text_field :web_site, class: 'form-control'%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :image, 'イメージ' , class: 'control-label col-xs-2' %>

        <div class="col-xs-10">
          <%= f.file_field :image, class: 'form-control'%>
        </div>
      </div>
    </div>
  </section>
</div>
