<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render partial: '/layouts/meta_tags' %>
    <title><%= content_for?(:title) ? yield(:title) : "Life with Beer" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <header>
      <div class="widewrapper masthead">
        <div class="container">
          <a href="index.html" id="logo">
            Life with Beer
          </a>

          <div id="mobile-nav-toggle" class="pull-right">
            <a href="#" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <%= render partial: '/layouts/header_category' %>
        </div>
      </div>
    </header>

    <%= bootstrap_flash %>
    <%= yield %>    


    <footer>
      <div class="widewrapper footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12 footer-widget">
              <h3> <i class="fa fa-envelope"></i>連絡先</h3>
              <span class="email">
                h5y1m141+lifewithbeer[アットマーク]gmail.com <br/>
                ※<strong>[アットマーク]</strong>の箇所を＠に置き換えてください
              </span>              
            </div>
          </div>
        </div>
      </div>
      <div class="widewrapper copyright">
        <div class="container">
          Copyright &copy; 2016 Life with Beer All Rights Reserved.
        </div>
      </div>
    </footer>

    </div> <!-- /container -->
    <script defer="defer" src="//platform.instagram.com/en_US/embeds.js"></script>
  </body>
</html>
