<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Life with Beer" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <header>
      <div class="widewrapper masthead">
        <div class="container">
          <a href="index.html" id="logo">
            Life with Beer
          </a>

          <div id="mobile-nav-toggle" class="pull-right">
            <a href="#" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <%= render partial: '/layouts/header_category' %>
        </div>
      </div>
    </header>

    <%= bootstrap_flash %>
    <%= yield %>    


    <footer>
      <div class="widewrapper footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-widget">
              <h3> <i class="fa fa-cog"></i>Statistics</h3>

              <span>Even we sometimes loose track of how many articles we actually have here.  This one helps:</span>

              <div class="stats">
                <div class="line">
                  <span class="counter">27</span>
                  <span class="caption">Articles</span>
                </div>
                <div class="line">
                  <span class="counter">208</span>
                  <span class="caption">Comments</span>
                </div>
                <div class="line">
                  <span class="counter">2</span>
                  <span class="caption">Authors</span>
                </div>                    
              </div>
            </div>

            <div class="col-md-4 footer-widget">
              <h3> <i class="fa fa-star"></i> Hall of Fame</h3>
              <ul class="tales-list">
                <li><a href="index.html">Why we Need to Encrypt All Communication</a></li>
                <li><a href="#">Selling is a Function of Design. Not Vice-Versa.</a></li>
                <li><a href="#">It’s Hard To Come Up With Dummy Titles</a></li>
                <li><a href="#">Why the Internet is Full of Cats</a></li>
                <li><a href="#">Last Made-Up Headline, I Swear!</a></li>
              </ul>
            </div>

            <div class="col-md-4 footer-widget">
              <h3> <i class="fa fa-envelope"></i>Contact Me</h3>

              <span>I'm happy to hear from my readers. Thoughts, feedback, critique - all welcome! Drop me a line:</span>
              
              <span class="email">
                <a href="#">jimmy@notanactualemail.com</a>, PGP key 0x5AK0BEA1
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="widewrapper copyright">
        <div class="container">
          <!--Note: Feel free to remove or change this link as you please. A link to HackerThemes is not required by any means-->
          Designed by <a href="http://hackerthemes.com" rel="nofollow">HackerThemes</a>
        </div>
      </div>
    </footer>

    </div> <!-- /container -->
    <script defer="defer" src="//platform.instagram.com/en_US/embeds.js"></script>
  </body>
</html>
